body{
  background-color: gray;
}

.players-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5em;
  height: 100%;
}

.player-card{
  /* background-color:white; */
  max-width: fit-content;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
}

img{
  height: 20rem;
  width: 20rem;
  border: none;
  outline: none;

}

#computer-choice{
  border: 1px solid black;
  width: fit-content;
  background-color: red;
  padding: .5em;
  color: white;
  font-weight: bold;
  border-radius: .25rem;
}
.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  border: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.button-group{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.result{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: aqua;
}
.card-image-top{
  border: transparent;
  outline: transparent;
}

.card-image-top-ready{
  background-image: url(./fist.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: transparent;
  transform: rotate(-90deg)
}

.card-image-top-rock{
  background-image: url(./rock.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: transparent;
}

.card-image-top-paper{
  background-image: url(./paper.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: transparent;
}

.card-image-top-scissors{
  background-image: url(./scissors.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: transparent;
}

.reset-button{
  width: inherit;
  padding: .2rem;
  margin: 2rem;
  font-weight: normal;
  font-family: cursive;
}

#player-choice{
  color: transparent;
}